:root {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 900px;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}
